@use '../node_modules/@eightshapes/esds-visual-style/src/esds-visual-style' as *;
$esds-custom-element-namespace: 'CUSTOM-ELEMENT-NAMESPACE' !default;

#{$esds-custom-element-namespace}-tabs {
  display: contents;
}

.#{$esds-custom-element-namespace}-tabs {
  @include esds-box-sizing;

  s-root,
  s-slot,
  s-assigned-wrapper,
  s-fallback-wrapper {
    display: contents;
  }

  s-assigned-wrapper[hidden],
  s-fallback-wrapper[hidden] {
    display: none;
  }
}
