@use '@eightshapes/esds-visual-style/src/esds-visual-style' as *;
$esds-custom-element-namespace: 'CUSTOM-ELEMENT-NAMESPACE' !default;

#{$esds-custom-element-namespace}-tabs {
  display: contents;
}

.#{$esds-custom-element-namespace}-tabs {
  @include esds-box-sizing;
  @include esds-typography-reset;
  width: 100%;

  s-root,
  s-slot,
  s-assigned-wrapper,
  s-fallback-wrapper {
    display: contents;
  }

  s-assigned-wrapper[hidden],
  s-fallback-wrapper[hidden] {
    display: none;
  }
}

#{$esds-custom-element-namespace}-tab {
  display: contents;
}

.#{$esds-custom-element-namespace}-tab {
  @include esds-box-sizing;
  @include esds-typography-reset;
}

.esds-tabs__tablist {
  @include esds-typography-reset;
  align-items: flex-end;
  display: flex;
  list-style: none;
  margin: 0;
  overflow-x: auto;
  padding: 0 0 4px;
  width: 100%;
}

.esds-tabs__tab {
  @include esds-typography-reset;
  display: block;
  padding: $esds-space-inset-squish-1-x;
  position: relative;
}

.esds-tabs__tab--selected {
  &:hover {
    cursor: default;
  }

  &::after {
    background: $esds-color-brand;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }
}

.esds-tabs__tab-text {
  @include esds-text-crop;
  display: block;

  &,
  .esds-icon {
    color: $esds-color-text-primary-on-light;
  }

  .esds-tabs__tab:hover & {
    &,
    .esds-icon {
      color: $esds-color-action-hover-on-light;
    }
  }

  .esds-tabs__tab--selected:hover & {
    &,
    .esds-icon {
      color: $esds-color-text-primary-on-light;
    }
  }
}
