{% macro headcrumb(class=false, text="Design Systems", href="#") %}
    {% set headcrumb_class = "esds-headcrumb" %}
    {% if class %}
        {% set headcrumb_class = headcrumb_class + " " + class %}
    {% endif %}

    {% set row_content %}
        <h1 class="esds-headcrumb__brand">
            <a href="{{ href }}" class="esds-headcrumb__link">
                {{ icon(name="eightshapes-mark", class="esds-headcrumb__brand-mark") }}
                <span class="esds-headcrumb__brand-name">eightshapes</span>
                {{ icon(name="angle-right", class="esds-headcrumb__delimiter") }}
                <span class="esds-headcrumb__crumb-text">{{ text }}</span>
            </a>
        </h1>
    {% endset %}
    {{ row(background="brand", class=headcrumb_class, content=row_content) }}
{% endmacro %}
