{% extends 'templates/content.njk' %}
{% set page_title = "Buttons" %}
{% set page_deck = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et diam lorem. In iaculis vel sem non iaculis. Nulla sagittis nisl et venenatis facilisis." %}
{% set local_nav = true %}

{% block body_content %}
    {% filter markdown %}
        ## Primary

        Cras id orci vel nisi vehicula rutrum. Pellentesque vehicula metus enim, interdum eleifend arcu sodales tempus. Donec feugiat augue quam, in commodo tellus mollis non.
    {% endfilter %}

    {{ esds_doc.code_example_pair(examples=[
            {
                example: esds.button(),
                label: "Default State"
            },
            {
                example: esds.button(class="esds-button--hover"),
                label: "Hover"
            },
            {
                example: esds.button(class="esds-button--active"),
                label: "Active"
            },
            {
                example: esds.button(class="esds-button--focus"),
                label: "Focus"
            }
        ]) 
    }}

    {{ esds_doc.code_example_pair(examples=[
            {
                example: esds.button(disabled=true),
                label: "Disabled"
            }
        ]) 
    }}

    {% filter markdown %}
        ## Secondary

        Vestibulum sollicitudin facilisis metus, ut condimentum nibh suscipit vitae. Donec lobortis magna quis ipsum luctus convallis. Praesent eget nisi ex.
    {% endfilter %}

    {{ esds_doc.code_example_pair(examples=[
            {
                example: esds.button(class="esds-button--secondary"),
                label: "Default State"
            },
            {
                example: esds.button(class="esds-button--secondary esds-button--hover"),
                label: "Hover"
            },
            {
                example: esds.button(class="esds-button--secondary esds-button--active"),
                label: "Active"
            },
            {
                example: esds.button(class="esds-button--secondary esds-button--focus"),
                label: "Focus"
            }
        ]) 
    }}

    {{ esds_doc.code_example_pair(examples=[
            {
                example: esds.button(class="esds-button--secondary", disabled=true),
                label: "Disabled"
            }
        ]) 
    }}

    {% filter markdown %}
        ## Flat

        Integer eget facilisis justo. Vestibulum aliquet sed purus eget pulvinar. Sed ac gravida nulla, sed vulputate erat.

    {% endfilter %}

    {{ esds_doc.code_example_pair(examples=[
            {
                example: esds.button(class="esds-button--flat"),
                label: "Default State"
            },
            {
                example: esds.button(class="esds-button--flat esds-button--hover"),
                label: "Hover"
            },
            {
                example: esds.button(class="esds-button--flat esds-button--active"),
                label: "Active"
            },
            {
                example: esds.button(class="esds-button--flat esds-button--focus"),
                label: "Focus"
            }
        ]) 
    }}

    {{ esds_doc.code_example_pair(examples=[
            {
                example: esds.button(class="esds-button--flat", disabled=true),
                label: "Disabled"
            }
        ]) 
    }}

    {% filter markdown %}
        ## With Icon

        Donec ac nisl id quam tincidunt mollis vel placerat libero. Etiam sapien arcu, porttitor id posuere at, facilisis in enim. Donec erat risus, efficitur consectetur tempus quis, fermentum vel risus. Aliquam ullamcorper id magna nec volutpat. Ut efficitur sit amet urna tincidunt molestie. Ut ac felis tristique sem mollis varius nec nec lectus. Pellentesque a interdum nibh. Quisque pellentesque mi eu magna pellentesque sodales. Integer tincidunt ipsum ut neque mattis interdum. Cras vel ante et mauris dapibus viverra ac vitae diam.
    {% endfilter %}

    {{ esds_doc.code_example_pair(examples=[
            {
                example: esds.button(icon_left="angle-left", text="Button Text"),
                label: "Icon Left"
            }
        ]) 
    }}

    {{ esds_doc.code_example_pair(examples=[
            {
                example: esds.button(icon_right="angle-right", text="Button Text"),
                label: "Icon Right"
            }
        ]) 
    }}

    {{ esds_doc.code_example_pair(examples=[
            {
                example: esds.button(icon_left="eightshapes-mark", icon_right="eightshapes-mark", text="Button Text"),
                label: "Icon Left and Right"
            }
        ]) 
    }}

    {{ esds_doc.code_example_pair(examples=[
            {
                example: esds.button(icon_left="eightshapes-mark"),
                label: "Icon Only"
            }
        ]) 
    }}

    {% filter markdown %}
        ## Sizing

        Donec ac nisl id quam tincidunt mollis vel placerat libero. Etiam sapien arcu, porttitor id posuere at, facilisis in enim. Donec erat risus, efficitur consectetur tempus quis, fermentum vel risus. Aliquam ullamcorper id magna nec volutpat. Ut efficitur sit amet urna tincidunt molestie. Ut ac felis tristique sem mollis varius nec nec lectus. Pellentesque a interdum nibh. Quisque pellentesque mi eu magna pellentesque sodales. Integer tincidunt ipsum ut neque mattis interdum. Cras vel ante et mauris dapibus viverra ac vitae diam.
    {% endfilter %}

    {{ esds_doc.code_example_pair(examples=[
            {
                example: esds.button(class="esds-button--small", icon_left="angle-left", text="Button Text"),
                label: "Button Primary Small"
            }
        ]) 
    }}

    {{ esds_doc.code_example_pair(examples=[
            {
                example: esds.button(class="esds-button--small esds-button--secondary", icon_left="angle-left", text="Button Text"),
                label: "Button Secondary Small"
            }
        ]) 
    }}

    {{ esds_doc.code_example_pair(examples=[
            {
                example: esds.button(class="esds-button--large", icon_left="angle-left", text="Button Text"),
                label: "Button Primary Large"
            }
        ]) 
    }}

    {{ esds_doc.code_example_pair(examples=[
            {
                example: esds.button(class="esds-button--large esds-button--secondary", icon_left="angle-left", text="Button Text"),
                label: "Button Secondary Large"
            }
        ]) 
    }}

    {% filter markdown %}
        ## CSS Class Reference

        Ut ac felis tristique sem mollis varius nec nec lectus. Pellentesque a interdum nibh. Quisque pellentesque mi eu magna pellentesque sodales. Integer tincidunt ipsum ut neque mattis interdum.
    {% endfilter %}

    {{ esds_doc.reference_table(class="esds-doc-reference-table--layout-fixed", automatic_code_block_columns=['class'], data=[{
            class: ".esds-button",
            applies_to: '`<button>`,<br>`<a>`,<br>`<input type="submit"/>`,<br>`<input type="button"/>`,<br>`<input type="checkbox"/>`,<br>`<input type="checkbox"/>`,<br>`<input type="radio"/>`,<br>`<div>`,<br>or `<span>`',
            outcome: "Applies default/primary button styles to an element."
        },
        {
            class: ".esds-button--secondary",
            applies_to: "`.esds-button`",
            outcome: "Applies secondary button styles to an element."
        },
        {
            class: ".esds-button--flat",
            applies_to: "`.esds-button`",
            outcome: "Applies flat button styles to an element."
        },
        {
            class: ".esds-button--small",
            applies_to: "`.esds-button`",
            outcome: "Applies small button styles to an element."
        },
        {
            class: ".esds-button--large",
            applies_to: "`.esds-button`",
            outcome: "Applies large button styles to an element."
        }
    ]) }}

{% endblock body_content %}
