<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <style>
    body {
      background: #fafafa;
    }
  </style>
</head>
<body>

  <!-- Built-in EightShapes Mark Icon is rendered when no props are set -->
  <esds-icon></esds-icon>

  <!-- HTML API, using spritesheet syntax -->
  <esds-icon use="#check"></esds-icon>
  <esds-icon use="#eightshapes-mark"></esds-icon>
  <esds-icon use="#eightshapes-logo"></esds-icon>
  <esds-icon use="#stopwatch"></esds-icon>


  <div id="demo"></div>

  <script type="module">
    // Sprite sheet technique
    fetch('../node_modules/@eightshapes/esds-icons/dist/esds-icons.svg')
    .then((response) => {
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }
      return response.text();
    })
    .then((spriteSheet) => {
      const hiddenSpriteSheet = document.createElement('div');
      hiddenSpriteSheet.setAttribute('style', 'display: none;');
      hiddenSpriteSheet.innerHTML = spriteSheet;
      document.body.appendChild(hiddenSpriteSheet);
    })


    // es6 JS import technique
    import { html, render } from 'lit-html';
    import '../esds-icon.js';
    import { EsdsIconStopwatch, EsdsIconCheck, EsdsIconEightshapesMark, EsdsIconEightshapesLogo } from '@eightshapes/esds-icons';

    render(
      html`
        <!-- JS API, using es6 import syntax (must use with lit-html or other build tool w/Import capabilities)-->
        <esds-icon use="${EsdsIconStopwatch}"></esds-icon>
        <esds-icon use="${EsdsIconCheck}"></esds-icon>
        <esds-icon use="${EsdsIconEightshapesMark}"></esds-icon>
        <esds-icon use="${EsdsIconEightshapesLogo}"></esds-icon>
      `,
      document.querySelector('#demo')
    );
  </script>
</body>
</html>
