{% extends "templates/sink-no-columns.njk" %}

{% macro sink_body() %}
    <h2 class="esds-sink-page-header">Breadcrumb</h2>
    {{ esds.breadcrumb() }}

    <h2 class="esds-sink-page-header">Content Stress Test</h2>
    {{ esds.breadcrumb(text="Really really long breadcrumb text here") }}
{% endmacro %}
