{% extends "templates/sink.njk" %}

{% macro sink_body() %}
    <h2 class="esds-sink-page-header">Default Button</h2>
    {{ esds.button() }}

    <h2 class="esds-sink-page-header">Default Button With Icon Left</h2>
    {{ esds.button(icon_left="eightshapes-mark") }}

    <h2 class="esds-sink-page-header">Default Button With Icon Right</h2>
    {{ esds.button(icon_right="eightshapes-mark") }}

    <h2 class="esds-sink-page-header">Default Button With Icon Left and Right</h2>
    {{ esds.button(icon_left="eightshapes-mark", icon_right="eightshapes-mark") }}

    <h2 class="esds-sink-page-header">Default Button With Icon Only</h2>
    {{ esds.button(icon_left="eightshapes-mark", icon_only=true) }}

    <h2 class="esds-sink-page-header">Default Button Hover</h2>
    {{ esds.button(class="esds-button--hover") }}

    <h2 class="esds-sink-page-header">Default Button Active</h2>
    {{ esds.button(class="esds-button--active") }}

    <h2 class="esds-sink-page-header">Default Button Focus</h2>
    {{ esds.button(class="esds-button--focus") }}

    <h2 class="esds-sink-page-header">Default Button Disabled</h2>
    {{ esds.button(class="esds-button--disabled") }}

    <h2 class="esds-sink-page-header">Default Button Large</h2>
    {{ esds.button(class="esds-button--large") }}

    <h2 class="esds-sink-page-header">Default Button Large With Icon Left</h2>
    {{ esds.button(class="esds-button--large", icon_left="eightshapes-mark") }}

    <h2 class="esds-sink-page-header">Default Button Large With Icon Right</h2>
    {{ esds.button(class="esds-button--large", icon_right="eightshapes-mark") }}

    <h2 class="esds-sink-page-header">Default Button Large With Icon Left and Right</h2>
    {{ esds.button(class="esds-button--large", icon_left="eightshapes-mark", icon_right="eightshapes-mark") }}

    <h2 class="esds-sink-page-header">Default Button Large With Icon Only</h2>
    {{ esds.button(class="esds-button--large", icon_left="eightshapes-mark", icon_only=true) }}

    <h2 class="esds-sink-page-header">Default Button Small</h2>
    {{ esds.button(class="esds-button--small") }}

    <h2 class="esds-sink-page-header">Default Button Small With Icon Left</h2>
    {{ esds.button(class="esds-button--small", icon_left="eightshapes-mark") }}

    <h2 class="esds-sink-page-header">Default Button Small With Icon Right</h2>
    {{ esds.button(class="esds-button--small", icon_right="eightshapes-mark") }}

    <h2 class="esds-sink-page-header">Default Button Small With Icon Left and Right</h2>
    {{ esds.button(class="esds-button--small", icon_left="eightshapes-mark", icon_right="eightshapes-mark") }}

    <h2 class="esds-sink-page-header">Default Button Small With Icon Only</h2>
    {{ esds.button(class="esds-button--small", icon_left="eightshapes-mark", icon_only=true) }}

    <hr>

    <h2 class="esds-sink-page-header">Default Button Reverse</h2>
    {{ esds.button(class="esds-button--reverse") }}

    <h2 class="esds-sink-page-header">Default Button Reverse With Icon Left</h2>
    {{ esds.button(class="esds-button--reverse", icon_left="eightshapes-mark") }}

    <h2 class="esds-sink-page-header">Default Button Reverse With Icon Right</h2>
    {{ esds.button(class="esds-button--reverse", icon_right="eightshapes-mark") }}

    <h2 class="esds-sink-page-header">Default Button Reverse With Icon Left and Right</h2>
    {{ esds.button(class="esds-button--reverse", icon_left="eightshapes-mark", icon_right="eightshapes-mark") }}

    <h2 class="esds-sink-page-header">Default Button Reverse With Icon Only</h2>
    {{ esds.button(class="esds-button--reverse", icon_left="eightshapes-mark", icon_only=true) }}

    <h2 class="esds-sink-page-header">Default Button Reverse Hover</h2>
    {{ esds.button(class="esds-button--reverse esds-button--hover") }}

    <h2 class="esds-sink-page-header">Default Button Reverse Active</h2>
    {{ esds.button(class="esds-button--reverse esds-button--active") }}

    <h2 class="esds-sink-page-header">Default Button Reverse Focus</h2>
    {{ esds.button(class="esds-button--reverse esds-button--focus") }}

    <h2 class="esds-sink-page-header">Default Button Reverse Disabled</h2>
    {{ esds.button(class="esds-button--reverse esds-button--disabled") }}

    <h2 class="esds-sink-page-header">Default Button Reverse Large</h2>
    {{ esds.button(class="esds-button--reverse esds-button--large") }}

    <h2 class="esds-sink-page-header">Default Button Reverse Small  </h2>
    {{ esds.button(class="esds-button--reverse esds-button--small") }}

    <hr>

    <h2 class="esds-sink-page-header">Secondary Button</h2>
    {{ esds.button(class="esds-button--secondary") }}

    <h2 class="esds-sink-page-header">Secondary Button With Icon Left and Right</h2>
    {{ esds.button(class="esds-button--secondary", icon_left="eightshapes-mark", icon_right="eightshapes-mark") }}

    <h2 class="esds-sink-page-header">Secondary Button Hover</h2>
    {{ esds.button(class="esds-button--secondary esds-button--hover") }}

    <h2 class="esds-sink-page-header">Secondary Button Active</h2>
    {{ esds.button(class="esds-button--secondary esds-button--active") }}

    <h2 class="esds-sink-page-header">Secondary Button Focus</h2>
    {{ esds.button(class="esds-button--secondary esds-button--focus") }}

    <h2 class="esds-sink-page-header">Secondary Button Disabled</h2>
    {{ esds.button(class="esds-button--secondary esds-button--disabled") }}

    <h2 class="esds-sink-page-header">Secondary Button Large</h2>
    {{ esds.button(class="esds-button--large esds-button--secondary") }}

    <h2 class="esds-sink-page-header">Secondary Button Small</h2>
    {{ esds.button(class="esds-button--small esds-button--secondary") }}

    <hr>

    <h2 class="esds-sink-page-header">Secondary Button Reverse</h2>
    {{ esds.button(class="esds-button--secondary esds-button--reverse") }}

    <h2 class="esds-sink-page-header">Secondary Button Reverse With Icon Left and Right</h2>
    {{ esds.button(class="esds-button--secondary esds-button--reverse", icon_left="eightshapes-mark", icon_right="eightshapes-mark") }}

    <h2 class="esds-sink-page-header">Secondary Button Reverse Hover</h2>
    {{ esds.button(class="esds-button--secondary esds-button--reverse esds-button--hover") }}

    <h2 class="esds-sink-page-header">Secondary Button Reverse Active</h2>
    {{ esds.button(class="esds-button--secondary esds-button--reverse esds-button--active") }}

    <h2 class="esds-sink-page-header">Secondary Button Reverse Focus</h2>
    {{ esds.button(class="esds-button--secondary esds-button--reverse esds-button--focus") }}

    <h2 class="esds-sink-page-header">Secondary Button Reverse Disabled</h2>
    {{ esds.button(class="esds-button--secondary esds-button--reverse esds-button--disabled") }}

    <h2 class="esds-sink-page-header">Secondary Button Reverse Large</h2>
    {{ esds.button(class="esds-button--secondary esds-button--reverse esds-button--large") }}

    <h2 class="esds-sink-page-header">Secondary Button Reverse Small  </h2>
    {{ esds.button(class="esds-button--secondary esds-button--reverse esds-button--small") }}

    <hr>
{% endmacro %}
