{% extends "templates/sink.njk" %}
{% block sink_body %}
    <h2 class="esds-sink-page-header">Icons Sink</h2>

    <h2 class="esds-sink-page-header">Default</h2> 
    {{ esds.icon() }}

    <h2 class="esds-sink-page-header">Accessible (has a &lt;title&gt;)</h2> 
    {{ esds.icon(title="How much time? Graphic") }}

    <h2 class="esds-sink-page-header">Small</h2> 
    {{ esds.icon(class="esds-icon--small", name="angle-left") }}

    <h2 class="esds-sink-page-header">Large</h2> 
    {{ esds.icon(class="esds-icon--large", name="angle-left") }}
{% endblock %}
