$esds-button-active-box-shadow: 0 0 4px 4px rgba($esds-color-teal-71, .8);

.esds-button {
    background-color: $esds-color-orange-82;
    border: 0;
    border-radius: $esds-border-radius-default;
    color: $esds-color-white;
    cursor: pointer;
    font-family: $esds-font-family-sans-serif;
    font-size: $esds-font-size-s;
    font-weight: $esds-font-weight-bold;
    padding: $esds-space-inset-stretch-2-x;
    text-align: center;
    text-transform: uppercase;

    &:hover,
    &.esds-button--hover {
        background-color: $esds-color-orange-91;
    }

    &:active,
    &.esds-button--active {
        background-color: $esds-color-orange-91;
        box-shadow: $esds-button-active-box-shadow;
    }

    &:focus,
    &.esds-button--focus {
        box-shadow: $esds-button-active-box-shadow;
        outline: 0;
    }

    &:disabled,
    &.esds-button--disabled {
        background-color: $esds-color-orange-91;
        cursor: not-allowed;
        opacity: .4;
    }
}

.esds-button--reverse {
    background-color: $esds-color-white;
    color: $esds-text-color-primary-on-white;

    &:hover,
    &.esds-button--hover {
        background-color: $esds-color-neutral-90;
    }

    &:active,
    &.esds-button--active {
        background-color: $esds-color-neutral-90;
    }

    &:disabled,
    &.esds-button--disabled {
        background-color: $esds-color-neutral-90;
    }
}

.esds-button--large {
    font-size: $esds-font-size-m;
    padding: $esds-space-inset-stretch-4-x;
}

.esds-button--small {
    font-size: $esds-font-size-xs;
    font-weight: $esds-font-weight-regular;
    padding: $esds-space-inset-stretch-1-x;
}
