.esds-button {
    background-color: $esds-color-orange-82;
    border: 0;
    border-radius: $esds-border-radius-default;
    color: $esds-color-white;
    cursor: pointer;
    font-family: $esds-font-family-sans-serif;
    font-size: $esds-font-size-m;
    font-weight: $esds-font-weight-bold;
    padding: $esds-space-inset-stretch-1-x;
    text-align: center;
    text-transform: uppercase;
}

.esds-button--reverse {
    background-color: $esds-color-white;
    color: $esds-text-color-primary-on-white;
}
