.esl-button {
    background-color: $esl-color-orange;
    border: 0;
    border-radius: $esl-border-radius-default;
    color: $esl-color-white;
    cursor: pointer;
    font-family: $esl-font-family-sans-serif;
    font-size: $esl-font-size-m;
    font-weight: $esl-font-weight-bold;
    padding: $esl-space-inset-stretch-m;
    text-align: center;
    text-transform: uppercase;
}

.esl-button--reverse {
    background-color: $esl-color-white;
    color: $esl-text-color-default;
}
