{% macro tiles(
    class=false,
    container="white",
    items=[
        {
            heading: "[tile 1]",
            description: "[tile description]"
        }
    ]
) %}

<ul class="esds-tiles{% if class %} {{ class }}{% endif %}">
    {% for item in items %}
    <li class="esds-tiles__tile esds-container--{{ container }}">
        <h3 class="esds-tiles__heading">{{ item.heading }}</h3>
        <p class="esds-tiles__description">{{ item.description }}</p>
        {% if item.property %}
        <p class="esds-tiles__property">{{ item.property }}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endmacro %}
