.esds-breadcrumb {
    @include esds-box-sizing;
    @include esds-text-color('primary');
    @include esds-font-reset;
    padding: $esds-space-inset-1-x;

    @media screen and (min-width: 500px) {
        padding: $esds-space-generic-2-x $esds-space-generic-1-x;
    }
}

.esds-breadcrumb__link {
    @include esds-text-color('primary');
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    text-decoration: none;
    top: -6px;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none; // not accessible, needs something
    }
}

.esds-breadcrumb__brand {
    margin: 0;
    position: relative;
    top: 6px;
}

.esds-breadcrumb__delimiter {
    fill: $esds-color-white;
    flex-shrink: 0;
    height: 18px;
    position: relative;
    width: 18px;

    @media screen and (min-width: 500px) {
        height: 24px;
        top: 1px;
        width: 24px;
    }
}

.esds-breadcrumb__brand-mark {
    fill: $esds-color-white;
    flex-shrink: 0;
    height: 20px;
    margin-right: $esds-space-generic-half-x;

    width: 20px;

    @media screen and (min-width: 500px) {
        height: 30px;
        width: 30px;
    }
}

.esds-breadcrumb__brand-name {
    @include esds-text-crop;
    @include esds-responsive-font-size($type: 'body-m');
    flex-shrink: 0;
    font-weight: $esds-font-weight-light;
    position: relative;
    top: -2px;
}

.esds-breadcrumb__crumb-text {
    @include esds-text-crop;
    @include esds-responsive-font-size($type: 'body-s');
    font-weight: $esds-font-weight-light;

    @media screen and (min-width: 500px) {
        position: relative;
        top: 1px;
    }
}
