$semitransparentwhite: rgba(255, 255, 255, .9);

.esds-tiles {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: $esds-space-stack-2-x;
    padding: 0;

    &:last-child {
        margin-bottom: 0;
    }

    &.esds-tiles--long-form-max-width {
        margin: 0 auto $esds-space-generic-2-x;
        max-width: $esds-font-line-length-long-form;
    }
}

.esds-tiles__placeholder,
.esds-tiles__tile {
    border-radius: $esds-border-radius-default;
    flex: 0 0 100%;
    list-style: none;
    margin: 0 $esds-space-generic-2-x $esds-space-generic-2-x 0;
    padding: $esds-space-inset-1-x;

    
    @media screen and (min-width: 1000px) {
        flex: 1 1 26%;
        padding: $esds-space-inset-1-and-half-x;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    .esds-tiles--translucent-white & {
        background-color: $semitransparentwhite;
    }

    .esds-tiles--no-padding & {
        padding: 0;
    }
}

.esds-tiles--2-column {
    @media screen and (min-width: 768px) {
        .esds-tiles__placeholder,
        .esds-tiles__tile {
            flex: 1 1 35%;

            &:nth-child(3n) {
                margin-right: $esds-space-generic-2-x;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

.esds-tiles--4-column {
    @media screen and (min-width: 1000px) {
        .esds-tiles__placeholder,
        .esds-tiles__tile {
            flex: 1 1 21%;

            &:nth-child(3n) {
                margin-right: $esds-space-generic-2-x;
            }

            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}

.esds-tiles__placeholder {
    height: 0;
    margin-bottom: 0;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
}

.esds-tiles__tile--link {
    text-decoration: none;
    transition: background $esds-transition-interactive-hover-speed linear;

    &.esds-tile--focus,
    &.esds-tile--hover,
    &:focus,
    &:hover {
        background-color: $esds-interactive-color-hover-on-light;
    }

    &:focus,
    &.esds-tile--focus {
        box-shadow: $esds-shadow-interactive-on-white;
        outline: none;
    }
}

.esds-background--white,
.esds-container--white {
    .esds-tile--focus,
    .esds-tiles__tile--link:focus {
        box-shadow: $esds-shadow-interactive-on-white;
    }
}

.esds-background--light,
.esds-container--light {
    .esds-tile--focus,
    .esds-tiles__tile--link:focus {
        box-shadow: $esds-shadow-interactive-on-light;
    }
}

.esds-background--dark,
.esds-container--dark,
.esds-background--black,
.esds-container--black {
    .esds-tile--focus,
    .esds-tiles__tile--link:focus {
        box-shadow: $esds-shadow-interactive-on-dark;
    }
}

.esds-background--brand,
.esds-container--brand {
    .esds-tile--focus,
    .esds-tiles__tile--link:focus {
        box-shadow: $esds-shadow-interactive-on-brand;
    }
}

.esds-tiles__subheading {
    @include esds-eyebrow-heading();
    @include esds-text-color('secondary');
    margin: $esds-space-stack-quarter-x;
}

.esds-tiles__heading {
    @include esds-level-4-heading();
    @include esds-text-color('primary');
    font-weight: $esds-font-weight-bold;
    margin: $esds-space-stack-1-x;

    .esds-tiles__tile--link & {
        @include esds-text-color($type: 'link');
    }
}

.esds-tiles__heading-icon {
    fill: currentColor;
}

.esds-tiles__description {
    @include esds-body-text-m();
    @include esds-text-color('primary');
    margin: $esds-space-stack-1-x;

    a {
        @include esds-link(); 
    }

    &:last-child {
        margin: 0;
    }
}

.esds-tiles__property {
    @include esds-body-text-s();
    @include esds-text-color('secondary');
    margin: 0;
}

.esds-tiles__list {
    list-style: disc;
    margin: $esds-space-stack-1-x;
    padding-left: $esds-space-generic-1-and-half-x;

    &:last-child {
        margin: 0;
    }

    .esds-tiles--2-column & {
        margin: $esds-space-stack-1-x;
    }
}

.esds-tiles__list-item {
    @include esds-body-text-m();
    margin: $esds-space-stack-half-x;
    padding: 0;

    &:last-child {
        margin: 0;
    }
}
