.esds-background--white,
.esds-container--white {
    background-color: $esds-background-color-white;
}

.esds-background--white-opacity-85,
.esds-container--white-opacity-85 {
    background-color: $esds-background-color-white-opacity-85;
}

.esds-background--black,
.esds-container--black {
    background-color: $esds-background-color-black;
}

.esds-background--light,
.esds-container--light {
    background-color: $esds-background-color-light;
}

.esds-background--dark,
.esds-container--dark {
    background-color: $esds-background-color-dark;
}

.esds-background--brand,
.esds-container--brand {
    background-color: $esds-background-color-brand;
}
