.esds-container--white {
    background-color: $esds-background-color-white;
}

.esds-container--very-dark {
    background-color: $esds-background-color-very-dark;
}

.esds-container--light {
    background-color: $esds-background-color-light;
}

.esds-container--dark {
    background-color: $esds-background-color-dark;
}
