@use '../../node_modules/@eightshapes/esds-visual-style/src/esds-visual-style' as *;

.storybook-annotation {
  @include esds-box-sizing;
  @include esds-typography-reset($font-size: $esds-font-size-body-m-default);
  color: $esds-color-brand;
  display: block;
  margin: $esds-space-stack-half-x;
}

.storybook-grid {
  @include esds-box-sizing;
  display: flex;
  flex-wrap: wrap;

  > * {
    margin: 0 $esds-space-generic-1-x $esds-space-generic-1-x 0;
  }
}

.storybook-slotholder {
  @include esds-box-sizing;
  @include esds-typography-reset($font-size: $esds-font-size-body-l-default);
  align-items: center;
  background: $esds-color-orange-98;
  border: dashed 2px $esds-color-brand;
  color: $esds-color-brand;
  display: flex;
  justify-content: center;
  min-height: 60px;
  position: relative;
  width: 100%;

  &::after {
    content: 'SLOT';
    font-size: $esds-font-size-body-s-default;
    position: absolute;
    right: 0;
    top: 0;
  }

  > * {
    display: block;
  }
}
