{% extends "templates/sink.njk" %}
{% set html_title = "Typography Sink Page" %}

{% macro sink_body() %}

    <h2 class="esds-sink-page-header">Level 1 Heading</h2>
    <h1 class="esds-doc-typography--level-1-heading">[Level 1 Heading]</h1>

    <h2 class="esds-sink-page-header">Level 2 Heading</h2>
    <h2 class="esds-doc-typography--level-2-heading">[Level 2 Heading]</h2>

    <h2 class="esds-sink-page-header">Level 3 Heading</h2>
    <h3 class="esds-doc-typography--level-3-heading">[Level 3 Heading]</h3>

{% endmacro %}
