{% extends "templates/sink.njk" %}
{% set html_title = "Typography Sink Page" %}

{% macro sink_body() %}

    <h2 class="esds-sink-page-header">Level 1 Heading</h2>
    <div class="esds-typography-sink--level-1-heading">[Level 1 Demo]</div>

    <h2 class="esds-sink-page-header">Level 2 Heading</h2>
    <div class="esds-typography-sink--level-2-heading">[Level 2 Demo]</div>

    <h2 class="esds-sink-page-header">Level 3 Heading</h2>
    <div class="esds-typography-sink--level-3-heading">[Level 3 Demo]</div>

    <h2 class="esds-sink-page-header">Level 4 Heading</h2>
    <div class="esds-typography-sink--level-4-heading">[Level 4 Demo]</div>

    <h2 class="esds-sink-page-header">Eyebrow Heading</h2>
    <div class="esds-typography-sink--eyebrow-heading">[Eyebrow Demo]</div>

{% endmacro %}
 