{% extends "templates/sink.njk" %}
{% set html_title = "Typography Sink Page" %}

{% macro sink_body() %}

    <h2 class="esds-sink-page-header">Level 1 Heading</h2>
    <div class="esds-typography-demo--level-1-heading">[Level 1 Heading]</div>

    <h2 class="esds-sink-page-header">Level 2 Heading</h2>
    <div class="esds-typography-demo--level-2-heading">[Level 2 Heading]</div>

    <h2 class="esds-sink-page-header">Level 3 Heading</h2>
    <div class="esds-typography-demo--level-3-heading">[Level 3 Heading]</div>

    <h2 class="esds-sink-page-header">Level 4 Heading</h2>
    <div class="esds-typography-demo--level-4-heading">[Level 4 Heading]</div>

    <h2 class="esds-sink-page-header">Eyebrow Heading</h2>
    <div class="esds-typography-demo--eyebrow-heading">[Eyebrow Heading]</div>

{% endmacro %}
 