@import '../node_modules/esds-visual-style/styles/esds-visual-style';

// <input[type='checkbox']/>
$esds-checkbox-checkmark-size:          12px;
$esds-checkbox-size:                    16px;
$esds-checkbox-label-space:             4px;

.esds-checkbox-v1 {
  @include esds-font-reset;
  @include esds-box-sizing();
  cursor: pointer;
  display: block;
  font-family: $esds-font-family-sans-serif;


  .esds-checkbox__inner { // In order for a :focus state to wrap the psuedo checkbox and text, this element is required
      align-items: flex-start;
      display: inline-flex;

  }

  .esds-checkbox__input:disabled + .esds-checkbox__inner {
    opacity: 0.5;
  }

  .esds-checkbox__-focus .esds-checkbox__inner,
  .esds-checkbox__input:focus + .esds-checkbox__inner {
    box-shadow: $esds-shadow-interactive-on-white;
    outline: 0;
  }

  .esds-checkbox__input {
    @include esds-accessibly-hidden();
  }

  .esds-checkbox__visual {
      background: $esds-background-color-white;
      border: $esds-border-control-on-white;
      border-radius: 4px;
      display: block;
      flex: 0 0 auto;
      height: $esds-checkbox-size;
      margin-right: $esds-checkbox-label-space;
      position: relative;
      width: $esds-checkbox-size;

  }

  .esds-checkbox__input:indeterminate + .esds-checkbox__inner .esds-checkbox__visual,
  .esds-checkbox__input:checked + .esds-checkbox__inner .esds-checkbox__visual {
    background: $esds-background-color-brand;
  }

  .esds-form__checkbox:hover .esds-checkbox__visual,
  .esds-checkbox__-hover .esds-checkbox__visual {
    // @include hover-styles();
  }

  .esds-checkbox__input:disabled + .esds-checkbox__inner .esds-checkbox__visual {
    border: $esds-border-control-on-white; // Prevent border color from changing on hover when input is disabled
  }

  .esds-form--error .esds-checkbox__visual {
    // @include error-styles();
  }

  @mixin checkbox-icon-styles {
      display: none;

      .esds-icon-v1 {
        fill: $esds-text-color-primary-on-brand;
        position: absolute;
        top: 50%;
        height: $esds-checkbox-checkmark-size;
        left: 50%;
        margin-left: -($esds-checkbox-checkmark-size / 2);
        margin-top: -($esds-checkbox-checkmark-size / 2);
        width: $esds-checkbox-checkmark-size;

      }
  }

  .esds-checkbox__checked-icon {
      @include checkbox-icon-styles();

  }

  .esds-checkbox__input:checked + .esds-checkbox__inner .esds-checkbox__checked-icon {
    display: block;
  }

  .esds-checkbox__indeterminate-icon {
      @include checkbox-icon-styles();
  }

  .esds-checkbox__input:indeterminate + .esds-checkbox__inner .esds-checkbox__indeterminate-icon {
    display: block;
  }

  .esds-checkbox__label {
      color: $esds-text-color-primary-on-white;
      cursor: pointer;
      font-family: $esds-font-family-sans-serif;
      font-size: $esds-font-size-body-m-default;
  }
}
