.esds-row {
    @include esds-box-sizing;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.esds-row__inner {
    @include esds-text-color('primary');
    font-family: $esds-font-family-sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0 auto;
    max-width: 1200px;
    padding: $esds-space-inset-1-x;
    text-align: left;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    
    @media screen and (min-width: $esds-breakpoints-width-768) {
        padding: $esds-space-inset-2-x;
    }

    .esds-row--tall-inset & {
        padding: $esds-space-inset-2-x;
        
        @media screen and (min-width: $esds-breakpoints-width-768) {
            padding: $esds-space-inset-4-x;
        }
    }

    .esds-row--very-tall-inset & {
        padding: $esds-space-inset-4-x;
        
        @media screen and (min-width: $esds-breakpoints-width-768) {
            padding: $esds-space-inset-8-x;
        }
    }

    .esds-row--very-very-tall-inset & {
        padding: $esds-space-inset-4-x;
        
        @media screen and (min-width: $esds-breakpoints-width-768) {
            padding: $esds-space-generic-16-x $esds-space-generic-8-x;
        }
    }

    .esds-row--no-inset & {
        max-width: none;
        padding: 0;

        @media screen and (min-width: $esds-breakpoints-width-768) {
            padding: 0;
        }
    }

}

.esds-row--marketing-max-width {
    & .esds-row__inner {
        max-width: $esds-font-line-length-long-form;
    }

    &.esds-row--tall-inset .esds-row__inner {
        max-width: $esds-font-line-length-long-form + $esds-space-inset-4-x*2;
    }

    &.esds-row--very-tall-inset .esds-row__inner {
        max-width: $esds-font-line-length-long-form + $esds-space-inset-8-x*2;
    }

    &.esds-row--very-very-tall-inset .esds-row__inner {
        max-width: $esds-font-line-length-long-form + $esds-space-inset-8-x*2;
    }

    &.esds-row--no-inset .esds-row__inner {
        max-width: $esds-font-line-length-long-form;
    }
}

.esds-row--background-image-dark {

    &:before {
        background-color: $esds-background-color-black;
        bottom: 0;
        content: ' ';
        left: 0;
        opacity: .65;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }

    * {
        position: relative;
        z-index: 1;
    }
}

.esds-row__horizontal-rule {
    border: 0;
    border-top: 3px solid $esds-color-neutral-90;
    margin: 0;
}
