.esls-long-form-text {
    margin: $esds-space-stack-2-x;

    h2 {
        @include esds-level-2-heading();
        color: $esds-text-color-secondary-on-white;
        margin: $esds-space-stack-1-x;
    }

    h3 {
        @include esds-level-3-heading();
        color: $esds-text-color-secondary-on-white;
        margin: $esds-space-stack-half-x;
    }

    p {
        @include esds-body-text-l();
        color: $esds-text-color-primary-on-white;
        margin: $esds-space-stack-2-x;
    }

    ul {
        @include esds-body-text-l();
        color: $esds-text-color-primary-on-white;
        margin: $esds-space-stack-2-x;
        padding-left: $esds-space-generic-1-and-half-x;

        li {
            margin: $esds-space-stack-1-x;
        }
    } 
}
