$esls-content-template-breakpoints-width-1375: 1375px;

.esls-content-template {
    padding-top: $esls-space-header-height-short;

    @media screen and (min-width: $esls-breakpoints-width-500) {
        padding-top: $esls-space-header-height-default;
    }

    @media screen and (min-width: $esls-breakpoints-width-1024) {
        display: grid;
        grid-template-columns: $esls-space-site-nav-width 1fr;
        min-height: 100vh;
    }
    
}

.esls-content-template__nav {

    @media screen and (min-width: $esls-breakpoints-width-1024) {
        grid-column: 1 / 2;
    }
}

.esls-content-template__body {
    padding: $esds-space-inset-1-x;

    @media screen and (min-width: $esls-breakpoints-width-1024) {
        grid-column: 2 / 4;
        padding: $esds-space-inset-2-x;
    }
}

.esls-content-template__body--has-local-nav {

    @media screen and (min-width: $esls-breakpoints-width-1024) {
        display: grid;
        grid-gap: $esds-space-generic-2-x;
        grid-template-columns: 1fr $esls-space-local-nav-width;
        grid-template-rows: minmax(min-content, 1fr) auto;
    }

    @media screen and (min-width: $esls-content-template-breakpoints-width-1375) {
        grid-template-columns: 1fr (1024px - $esds-space-generic-2-x - $esls-space-local-nav-width) $esls-space-local-nav-width 1fr;
    }
}

.esls-content-template__body-inner {
    margin: 0 auto;
    max-width: 1024px;
    min-width: 0;

    .esls-content-template__body--has-local-nav & {
        margin: 0;
        max-width: auto;

        @media screen and (min-width: $esls-content-template-breakpoints-width-1375) {
            grid-column: 2/span 1;
        }
    }
}

.esls-content-template__local-nav {
    display: none;

    @media screen and (min-width: $esls-breakpoints-width-1024) {
        display: block;
    }

    @media screen and (min-width: $esls-content-template-breakpoints-width-1375) {
        grid-column: 3/span 1;
    }
}

.esls-content-template__intro {
    border-bottom: $esds-border-default;
    margin: $esds-space-stack-4-x;
    padding-bottom: $esds-space-generic-1-and-half-x;
}

.esls-content-template__intro-heading {
    @include esds-level-1-heading();
    margin: $esds-space-stack-2-x;
}

.esls-content-template__intro-deck {
    @include esds-level-3-heading();
    color: $esds-text-color-secondary-on-white;
    margin: $esds-space-stack-1-x;
}
