{% import 'components/esds.njk' as esds with context %}
<html>
    <head>
        <title>EightShapes Design System</title>
        <link rel="stylesheet" href="/styles/esds.css">
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>
