{% import 'components/esl.njk' as esl with context %}
<html>
    <head>
        <title>EightShapes Design System</title>
        <link rel="stylesheet" href="/styles/esl.css">
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>
