{% import 'components/esds.njk' as esds with context %}
<html>
    <head>
        <title>EightShapes Design System</title>
        <link rel="stylesheet" href="/styles/esds.css">
    </head>
    <body>
        {% block body %}

        {% endblock %}
        <script src="/scripts/dependencies/svg4everybody.min.js"></script>
        <script>
            svg4everybody();
        </script>
    </body>
</html>
