{% extends 'templates/base.njk' %}

{% block body %}
    {# "Hostile" sink styles #}
    <style>
        html,
        body {
            color: hotpink;
            font-family: Georgia;
            font-size: 48px;
            font-style: italic;
            font-weight: bold;
            line-height: 3;
            margin: 0;
            padding: 0;
        }

        body > * {
            background: yellow;
        }

        .esds-sink-page-header {
            background: transparent;
            color: {{ esds_tokens['text-color'].default }};
            font-family: {{ esds_tokens.font.family['sans-serif'] | safe }};
            font-size: 20px;
            font-style: normal;
            font-weight: normal;
            line-height: 1.2;
            margin: 32px 0 16px 0;
            padding: 0;
        }

        @media screen and (min-width: 1200px) {
            .esds-doc-sink-container {
                display: flex;
                width: 100%;
            }

            .esds-doc-sink-container > .esds-doc-sink-container__column {
                box-sizing: border-box;
                flex: 0 0 25%;
                max-width: 25%;
                width: 25%;
            }
        }

    </style>
    <h1 class="esds-doc-sink-title">{{ title }}</h1>
    {% block sink_intro %}{% endblock %}
    <div class="esds-doc-sink-container">
        <div class="esds-doc-sink-container__column esds-container--white">
            {{ sink_body() }}
        </div>
        <div class="esds-doc-sink-container__column esds-container--light">
            {{ sink_body() }}
        </div>
        <div class="esds-doc-sink-container__column esds-container--dark">
            {{ sink_body() }}
        </div>
        <div class="esds-doc-sink-container__column esds-container--black">
            {{ sink_body() }}
        </div>
    </div>
{% endblock %}
