//page_navigation overrides
$esds-doc-page-navigation-max-width: 240px;
$esds-doc-page-navigation-space-inset: 0;
$esds-doc-page-navigation-link-color-active: $esds-text-color-primary-on-light;
$esds-doc-page-navigation-link-text-decoration: none; 
$esds-doc-page-navigation-link-font-size: $esds-doc-font-size-m;
$esds-doc-page-navigation-link-space-inset: $esds-space-generic-half-x $esds-space-generic-1-x;

//code_snippet overrides
$esds-doc-code-snippet-font-size: $esds-font-size-body-s-default;
$esds-doc-code-snippet-border: 1px solid $esds-color-neutral-90;
$esds-doc-code-snippet-copied-tooltip-background-color: $esds-background-color-black;
$esds-doc-code-snippet-copied-tooltip-shadow: none;
$esds-doc-code-snippet-copied-tooltip-box-shadow-color: transparent;

//code_example_pair overrides
$esds-doc-code-example-pair-space-stack: $esds-space-stack-4-x;

//html_example_list
$esds-doc-html-example-list-border: 1px solid $esds-color-neutral-90;
$esds-doc-html-example-list-text-color: $esds-text-color-secondary-on-light;
$esds-doc-html-example-list-font-size: $esds-font-size-body-s-default;

//reference_table
$esds-doc-reference-table-border: 1px solid $esds-color-neutral-90;
$esds-doc-reference-table-font-family: $esds-font-family-sans-serif;
$esds-doc-reference-table-font-size: $esds-font-size-body-m-default;
$esds-doc-reference-table-text-color: $esds-text-color-primary-on-light;
