{% extends 'templates/base.njk' %}

{% block body %}
    {% filter markdown %}
        # EightShapes Design System Sink Pages
        ## Visual Style
        * [Color](/sink-pages/visual-style/color.html)
        * [Typography](/sink-pages/visual-style/typography.html)
        ## Components
        * [Buttons](/sink-pages/components/buttons.html)
        * [Cards](/sink-pages/components/cards.html)
        * [Headcrumbs](/sink-pages/components/headcrumbs.html)
        * [Icons](/sink-pages/components/icons.html)
        * [Rows](/sink-pages/components/rows.html)
        * [Tiles](/sink-pages/components/tiles.html)
    {% endfilter %}
{% endblock body %}
