{% extends 'templates/base.njk' %}

{% block body %}
    {% filter markdown %}
        # EightShapes Design System Sink Pages
        ## Visual Style
        * [Color](/sink-pages/visual-style/color.html)
        ## Components
        * [Button](/sink-pages/components/buttons.html)
        * [Icon](/sink-pages/components/icons.html)
    {% endfilter %}
{% endblock body %}
