@use '@eightshapes/esds-visual-style/src/esds-visual-style' as *;

$esds-custom-element-namespace: 'CUSTOM-ELEMENT-NAMESPACE' !default;
$esds-card-min-width: 300px;
$esds-card-hover-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

// Mixins for states so they can be leveraged on test pages for static state examples
@mixin esds-card-hover() {
  background-color: $esds-color-action-hover-on-light;
  box-shadow: $esds-card-hover-shadow;
}

@mixin esds-card-focus($background: 'on-light') {
  @if ($background == 'on-dark') {
    box-shadow: 0 0 0 4px $esds-color-action-focus-on-dark;
  } @else {
    box-shadow: 0 0 0 4px $esds-color-action-focus-on-light;
  }
  outline: none;
}

@mixin esds-card-active() {
  background-color: $esds-color-action-hover-on-light;
  box-shadow: none;
}

#{$esds-custom-element-namespace}-card {
  @include esds-typography-reset;
  @include esds-box-sizing;
  display: inline-flex;
  line-height: 0;

  // Slotify specific styles
  s-root {
    display: inline-flex;
    width: 100%;
  }
}

// .esds-card__root is necessary as the root selector for IE11/ShadyCSS compatibility - TODO: document why
.#{$esds-custom-element-namespace}-card__root {
  @include esds-typography-reset;
  @include esds-box-sizing;
  background-color: $esds-color-background-light-secondary;
  border-radius: $esds-border-radius-default;
  display: inline-flex;
  flex-direction: column;
  min-width: $esds-card-min-width;
  overflow: hidden;
  width: 100%;

  .esds-container--light-secondary &,
  .esds-container--dark-primary &,
  .esds-container--dark-secondary & {
    background-color: $esds-color-background-light-primary;
  }

  &.esds-card--link {
    cursor: pointer;
    position: relative;
    text-decoration: none;

    &:hover,
    .esds-container--light &:hover,
    .esds-container--dark &:hover,
    .esds-container--black &:hover {
      @include esds-card-hover;
    }

    &:focus-within {
      @include esds-card-focus;
    }

    &:focus-within .esds-card__title-link:focus {
      text-decoration: none;
    }

    .esds-container--dark &:focus-within,
    .esds-container--black &:focus-within {
      @include esds-card-focus('on-dark');
    }

    &:active,
    .esds-container--light &:active,
    .esds-container--dark &:active,
    .esds-container--black &:active {
      @include esds-card-active;
    }
  }

  .esds-card__body {
    padding: $esds-space-inset-1-and-half-x;
  }

  .esds-card__image {
    order: -1;
  }

  .esds-card__title {
    @include esds-heading-level-3;
    color: $esds-color-text-primary-on-light;
    margin: $esds-space-stack-1-x;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .esds-card__title-link {
    @include esds-heading-level-3;
    color: $esds-color-text-primary-on-light;
    text-decoration: none;

    &::after {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    // This focus style will be overridden in browsers that support :focus-within
    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }

  .esds-card__metadata {
    @include esds-heading-eyebrow;
    color: $esds-color-text-secondary-on-light;
    margin: $esds-space-stack-half-x;
  }

  .esds-card__description {
    @include esds-body-m;
    color: $esds-color-text-primary-on-light;
    margin: $esds-space-stack-1-x;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .esds-card__content {
    @include esds-typography-reset;
    margin: $esds-space-stack-half-x;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .esds-card__actions {
    @include esds-typography-reset;
    margin-top: $esds-space-1-x;
    position: relative; // Allows actions to be available even when the entire card is a link
  }
}
