@use '../node_modules/@eightshapes/esds-visual-style/src/esds-visual-style' as *;

$esds-card-min-width: 300px;
$esds-card-hover-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

// Mixins for states so they can be leveraged on test pages for static state examples
@mixin esds-card-hover() {
  background-color: $esds-interactive-color-hover-on-light;
  box-shadow: $esds-card-hover-shadow;
}

@mixin esds-card-focus() {
  box-shadow: 0 0 0 4px $esds-color-teal-27;
  outline: none;
}

@mixin esds-card-active() {
  background-color: $esds-interactive-color-hover-on-light;
  box-shadow: none;
}

esds-card {
  @include esds-typography-reset;
  @include esds-box-sizing;
  display: inline-flex;
  line-height: 0;

  // Slotify specific styles
  s-root {
    display: inline-flex;
    width: 100%;
  }
}

.esds-card {
  @include esds-typography-reset;
  @include esds-box-sizing;
  background-color: $esds-background-color-light;
  border-radius: $esds-border-radius-default;
  display: inline-flex;
  flex-direction: column;
  min-width: $esds-card-min-width;
  overflow: hidden;
  width: 100%;
}

.esds-card--link {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    @include esds-card-hover;
  }

  &:focus {
    @include esds-card-focus;
  }

  &:active {
    @include esds-card-active;
  }
}

.esds-card__body {
  padding: $esds-space-inset-1-and-half-x;
}

.esds-card__title {
  @include esds-heading-level-3;
  margin: $esds-space-stack-half-x;
}

.esds-card__metadata {
  @include esds-heading-eyebrow;
  margin: $esds-space-stack-quarter-x;
}

.esds-card__description {
  @include esds-text-color('primary');
  @include esds-body-text-m;
}
