@use '@eightshapes/esds-visual-style/src/esds-visual-style' as *;
$esds-custom-element-namespace: 'CUSTOM-ELEMENT-NAMESPACE' !default;
$esds-card-min-width: 300px;
$esds-card-focus-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
$esds-card-color-background-hover: #E7F4F6;

// Mixins for states so they can be leveraged on test pages for static state examples
@mixin esds-card-hover() {
  background-color: $esds-card-color-background-hover;
}

@mixin esds-card-focus() {
  background-color: $esds-card-color-background-hover;
  box-shadow: 0 0 0 4px $esds-color-action-focus-on-light, $esds-card-focus-shadow;
  outline: none;
}

@mixin esds-card-active() {
  background-color: $esds-card-color-background-hover;
  box-shadow: none;
}

#{$esds-custom-element-namespace}-card {
  display: inline-flex;

  s-root {
    width: 100%;
  }
}

.#{$esds-custom-element-namespace}-card {
  @include esds-box-sizing;
  @include esds-typography-reset;
  background: $esds-color-background-light-secondary;
  border-radius: $esds-border-radius-default;
  display: inline-flex;
  flex-direction: column;
  font-size: $esds-font-size-body-m-default;
  min-width: $esds-card-min-width;
  overflow: hidden;
  width: 100%;

  &.esds-card--link {
    cursor: pointer;
    position: relative;
    text-decoration: none;

    &:hover {
      @include esds-card-hover;
    }

    &:focus-within {
      @include esds-card-focus;
    }

    &:active {
      @include esds-card-active;
    }
  }

  .esds-card__body {
    display: flex;
    flex-direction: column;
    padding: $esds-space-inset-1-and-half-x;
  }

  .esds-card__title {
    @include esds-heading-level-3($responsive: true);
    color: $esds-color-text-primary-on-light;
  }

  .esds-card__title-link {
    @include esds-heading-level-2($responsive: true);
    color: $esds-color-text-primary-on-light;
    text-decoration: none;

    &:focus {
      outline: 0;
    }
  }

  .esds-card__metadata {
    @include esds-heading-eyebrow($responsive: true);
    color: $esds-color-text-secondary-on-light;
    order: -1;
  }

  .esds-card__description {
    @include esds-body-m($responsive: true);
    color: $esds-color-text-primary-on-light;
    margin-top: $esds-space-1-x;
  }

  .esds-card__image {
    order: -1;
  }

  .esds-card__content-slot,
  .esds-card__actions-slot {
    @include esds-typography-reset;
    margin-top: $esds-space-1-x;
  }

  &.esds-card--small {
    .esds-card__title {
      @include esds-heading-level-4($responsive: true);
      margin: $esds-space-stack-half-x;
    }

    .esds-card__metadata {
      @include esds-heading-eyebrow-small($responsive: true);
    }

    .esds-card__description {
      @include esds-body-s($responsive: true);
    }

    .esds-card__body {
      padding: $esds-space-inset-1-x;
    }
  }

  &.esds-card--large {
    .esds-card__title {
      @include esds-heading-level-2($responsive: true);
      margin: $esds-space-stack-half-x;
    }

    .esds-card__description {
      @include esds-body-l($responsive: true);
    }

    .esds-card__body {
      padding: $esds-space-inset-2-x;
    }
  }

  .esds-container--light-secondary & {
    background: $esds-color-background-light-primary;
  }

  .esds-container--dark-primary &,
  .esds-container--dark-secondary & {
    background: $esds-color-background-dark-primary;

    .esds-card__title,
    .esds-card__description {
      color: $esds-color-text-primary-on-dark;
    }

    .esds-card__metadata {
      color: $esds-color-text-secondary-on-dark;
    }
  }

  .esds-container--dark-primary & {
    background: $esds-color-background-dark-secondary;
  }
}
