.esds-row {
    @include esds-box-sizing;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: $esds-space-generic-2-x $esds-space-generic-1-x;
    position: relative;
    width: 100%;
}

.esds-row__inner {
    @include esds-text-color('primary');
    font-family: $esds-font-family-sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0 auto;    
    max-width: 1200px;
    text-align: left;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;

    .esds-row--narrow-inner & {
        max-width: 940px;
    }
}

.esds-row--hero-inset { // to be removed when making hero component
    padding: $esds-space-inset-1-x;
    padding-bottom: 70px;
    padding-top: 70px;
    
    @media screen and (min-width: 768px) {
        padding-bottom: 140px;
        padding-top: 140px;
    }

    .esds-row__inner {
        max-width: 800px;
    }
}

.esds-row--tall-inset {
    padding: $esds-space-inset-1-x;
    padding-bottom: $esds-space-inset-2-x;
    padding-top: $esds-space-inset-2-x;
    
    @media screen and (min-width: 768px) {
        padding-bottom: $esds-space-inset-4-x;
        padding-top: $esds-space-inset-4-x;
    }
}

.esds-row--no-inset {
    padding: 0;

    @media screen and (min-width: 768px) {
        padding: 0;
    }
}

.esds-row--no-inset-bottom {
    padding-bottom: 0;

    @media screen and (min-width: 768px) {
        padding-bottom: 0;
    }
}

.esds-row--background-image-dark {

    &:before {
        background-color: $esds-background-color-black;
        bottom: 0;
        content: ' ';
        left: 0;
        opacity: .65;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }

    * {
        position: relative;
        z-index: 1;
    }
}

.esds-row__horizontal-rule {
    border: 0;
    border-top: 3px solid $esds-color-neutral-90;
    margin: 0;
}

.esds-row__level-1-heading {
    @include esds-level-1-heading();
    font-size: $esds-font-size-heading-level-2;
    margin: $esds-space-stack-2-x;
    text-align: center;

    @media screen and (min-width: 500px) {
        font-size: $esds-font-size-heading-level-1;
    }
}

.esds-row__level-2-heading {
    @include esds-level-2-heading();
    font-size: $esds-font-size-heading-level-3;
    margin: $esds-space-stack-2-x;
    text-align: center;

    @media screen and (min-width: 500px) {
        font-size: $esds-font-size-heading-level-2;
    }
}

.esds-row__lead-heading {
    @include esds-font-reset();
    font-size: $esds-font-size-lead;
    margin: $esds-space-stack-1-x;
    text-align: center;
}

.esds-row__p-lead {
    @include esds-font-reset();
    font-size: $esds-font-size-m;
    margin: $esds-space-stack-2-x;

    @media screen and (min-width: 500px) {
        font-size: $esds-font-size-lead;
    }

    &:last-child {
        margin: 0;
    }
}

.esds-row__p-l {
    @include esds-body-text-m();
    margin: $esds-space-stack-1-x;

    @media screen and (min-width: 500px) {
        font-size: $esds-font-size-l;
    }

    &:last-child {
        margin: 0;
    }
}

.esds-row__p-m {
    @include esds-body-text-s();
    margin: $esds-space-stack-1-x;

    @media screen and (min-width: 500px) {
        font-size: $esds-font-size-m;
    }

    &:last-child {
        margin: 0;
    }
}

.esds-row__text-center {
    text-align: center;
}

