@use '../node_modules/@eightshapes/esds-visual-style/src/esds-visual-style' as *;
$esds-custom-element-namespace: 'CUSTOM-ELEMENT-NAMESPACE' !default;

#{$esds-custom-element-namespace}-icon {
  @include esds-typography-reset;
  @include esds-box-sizing;
  display: inline-flex;
}

.#{$esds-custom-element-namespace}-icon {
  @include esds-typography-reset;
  fill: currentColor;
  height: $esds-size-icon-m;
  width: $esds-size-icon-m;

  &.esds-icon--small {
    height: $esds-size-icon-s;
    width: $esds-size-icon-s;
  }

  &.esds-icon--large {
    height: $esds-size-icon-l;
    width: $esds-size-icon-l;
  }

  // Used when a full svg string is passed to the use prop
  svg {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 100%;
  }
}
