{% import 'esds-library/components/esds.njk' as esds %}
{% import 'components/esls.njk' as esls with context %}
{% set esds_doc_overrides_path = 'imports/esds-doc-overrides.njk' %}
{% import 'esds-doc/components/esds-doc.njk' as esds_doc with context %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title_tag + " | " if title_tag }}{{ global.title_tag }} | EightShapes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head_content_prepend %}{% endblock head_content_prepend %}
        <link rel="stylesheet" href="/styles/dependencies/prism.css">
        <link rel="stylesheet" href="/styles/dependencies/esds.css"> <!-- copied from esds-library dependency -->
        <link rel="stylesheet" href="/styles/esls.css">
        {% block head_content_append %}{% endblock head_content_append %}
    </head>
    <body>
        <header class="esls-layout__header">
            {{ esds.breadcrumb(href="/", text=global.title_tag) }}
        </header>
        {% block body %}{% endblock body %}
        {% block closing_body_assets %}
            <script src="/scripts/dependencies/prism.js"></script>
            <script src="/scripts/dependencies/prism-json.min.js"></script>
            <script src="/scripts/dependencies/prism-scss.min.js"></script>
            <script src="/scripts/dependencies/prism-twig.min.js"></script>
            <script src="/scripts/dependencies/svg4everybody.min.js"></script>
            <script src="/scripts/dependencies/scrollmonitor.js"></script>
            <script src="/scripts/dependencies/smoothscroll.min.js"></script>
            <script>
                svg4everybody();
            </script>
            <script src="/scripts/dependencies/esds-doc.js"></script>
            <script src="/scripts/esls.js"></script>
            <script>
                Esds.CodeSnippet.init();
                Esds.PageNavigation.init();
            </script>
        {% endblock closing_body_assets %}
    </body>
</html>
