{% if page_title %}
    {% set title_tag = page_title %}
{% endif %}
{% extends 'templates/base.njk' %}

{% block body %}
    <div class="esls-content-template">
        <div class="esls-content-template__nav">
            {{ esls.site_nav(sections=content.site_nav) }}
        </div>

        <div class="esls-content-template__body{{ ' esls-content-template__body--has-local-nav' if local_nav }}">
            <div class="esls-content-template__body-inner">
                <div class="esls-content-template__intro">
                    <h1 class="esls-content-template__intro-heading">{{ page_title }}</h1>
                    {% if page_deck %}
                    <div class="esls-content-template__intro-deck">
                        {{ page_deck }}
                    </div>
                    {% endif %}
                </div>

                {% block body_content %}{% endblock body_content %}
            </div>

            {% if local_nav %}
            <div class="esls-content-template__local-nav">
                {{ esds_doc.page_navigation(fixed_distance_from_top=esls_tokens.space['header-height'].default | float + esds_tokens.space.generic['2-x'] | float ) }}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
